{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">

            <div class="col-sm-12">

                {{ form_start(registrationForm,{
                    attr: {class: 'form-signin' }
                }) }}
                <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>

                <div class="form-group">

                    {{ form_row(registrationForm.email, {
                        attr: { placeholder: 'Ваш Email...'},
                        label_attr: {class: 'sr-only'}
                    }) }}
                    {{ form_row(registrationForm.firstName, {
                        attr: { placeholder: 'Ваше Имя...'},
                        label_attr: {class: 'sr-only'}
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        attr: { placeholder: 'Ваш Пароль...'},
                        label_attr: {class: 'sr-only'}
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.agreeTerms, {
                        label: 'Согласен с условиями'
                    }) }}
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}

