{% extends 'email/emailBase.html.twig' %}

{% block header %}Еженедельная рассылка{% endblock %}

{% block content %}

<div class="content">
    <table>
        <tr>
            <td>

                <h1>Новые статьи на сайте!</h1>
                <p class="lead">За прошедшую неделю на сайте появились следующие статьи.</p>
            </td>
        </tr>
    </table>
</div>


{% for article in articles %}
<div class="content">
    <table>
        <tr>
            <td class="small post-image" width="20%"><img src="{{ article.imageFilename | imagine_filter('articles_preview')}}" alt="{{ article.title }}"/></td>
            <td>
                <h3>{{ article.title }} <small>{{ article.author.firstName }}</small></h3>
                <p>{{ article.description }}</p>
                <a class="btn" href="{{ url('app_article', { slug: article.slug }) }}">Читать</a>
            </td>
        </tr>
    </table>
</div>
{% endfor %}
{% endblock %}