{% extends 'base_content.html.twig' %}

{% block title %}Управление Статьями{% endblock %}

{% block content %}
    <h1>Управление статьями ({{ pagination.totalItemCount }})</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Заголовок</th>
            <th>Автор</th>
            <th>Опубликована</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
            <tr>
                <td>
                    <a href="{{ path('app_article_show', { slug: article.slug}) }}">
                        {{ article.title }}
                    </a>
                </td>
                <td>{{ article.author.firstName }}</td>
                <td><i class="fas fa-{{ article.isPublished ? 'check' : 'times'}}"></i></td>
                <td>
                    <a href="{{ path('app_admin_article_edit', { id: article.id }) }}">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Нет статей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}