{{ form_start(articleForm) }}
    {{ form_row(articleForm.title) }}
    {{ form_row(articleForm.description) }}
    {{ form_row(articleForm.body) }}
    {% if articleForm.publishedAt is defined %}
        {{ form_row(articleForm.publishedAt) }}
    {% endif %}
    {{ form_row(articleForm.keyWords) }}
    {{ form_row(articleForm.author) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}