{% extends 'base.html.twig' %}

{% block title %}Статья: {{ article }}{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">

            <div class="col-12">

                <div class="row no-gutters border rounded-lg overflow-hidden flex-md-row mb-4 shadow-sm position-relative bg-white featured-border">
                    <div class="article-detail col-sm-12">
                        <div class="col-sm-12 p-2">
                            <div class="media d-flex align-content-center">
                                <img class="article-detail-image align-self-start mr-3 rounded" src="{{ asset('images/car2.jpg') }}">
                                <div class="media-body d-inline-block align-self-center">
                                    <h1 class="mb-2">{{ article }}</h1>
                                    <div class="mb-2 d-flex">
                                        <span class="badge badge-pill badge-secondary mr-2">Дрындулет</span>
                                        <span class="badge badge-pill badge-secondary mr-2">Карета</span>
                                    </div>
                                    <div class="d-flex">
                                        <div class="text-muted align-self-center">
                                            <img class="article-author-img rounded-circle mr-2" src="https://robohash.org/Николай.png?set=set4">
                                            Николай
                                        </div>
                                        <div class="text-muted align-self-center ml-4">26 days ago</div>
                                        <div
                                            class="text-muted align-self-center ml-4 article-detail-hearts"
                                            data-item="likes"
                                            data-type="like"
                                        ><span data-item="likesCount">120</span> <i class="far fa-heart text-danger"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 mt-2 mb-4">
                            {{ articleContent|raw }}
                        </div>


                        <div class="col-sm-12 mb-4">
                            <h3><i class="pr-3 far fa-comment text-secondary"></i>{{ comments|length }} Комментария</h3>
                            <hr>

                            <div class="row mb-4">
                                <div class="col-sm-12">
                                    <div class="comment-container align-self-start col-sm-6">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-info">Комментировать</button>
                                    </div>
                                </div>
                            </div>

                            {% for comment in comments %}
                                <div class="row mt-2">
                                    <div class="col-sm-12">
                                        <div class="media">
                                            <img class="align-self-start comment-img rounded-circle" src="{{ asset('images/cat-profile.png') }}">
                                            <div class="media-body align-self-start col-sm-6">
                                                <b>Сметанка</b>
                                                <small>about 11 days ago</small>
                                                <br>
                                                <span class="comment">{{ comment }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}